<%= div_for activity, :class => 'super_activity' do %>

  <div class="actor_logo">
    <%= link_to image_tag(activity.sender_subject.logo.url(:actor),
                          :alt => activity.sender_subject.name),
                 activity.sender_subject %>
  </div>

  <div class="activity_content">
  
    <div class="actor_name">
      <%= (t "activity.verb.like.Place.title",
		:subject => link_name(activity.sender_subject),
		:activity_object => link_to(activity.direct_object.title, activity.direct_object)).html_safe %>
    </div>

    <div class="activity_objects">
      <%= render :partial => 'places/place',
                 :locals => { :activity => activity,
                              :place => activity.direct_object } %>
    </div>
    
    <%= render :partial => 'activities/likes',
               :locals => { :activity => activity } %>

  </div>

  <div class="space_activities">
    <% if activity.activity_objects.count > 1 %>
      <div class="space_sub"></div>
    <%else %>
      <div class="#"></div>
    <%end%>
  </div>
<% end %>
