<%= javascript_tag do %>
  var frontcard = function() {
    $(".more_info").bind("click", function() {
      $(".place_card_frame").flip({
        direction:'rl',
	dontChangeColor: true,
	speed: 250,
	color: "#CCCCCC",
        content: $(".place_card_back"),
        onEnd: function() {
		backcard();
	}
      })
      return false;
    });
   };

  var backcard = function() {
    $(".revert_info").bind("click", function() {
      $(".place_card_frame").flip({
        direction:'lr',
	dontChangeColor: true,
	speed: 250,
	color: "#CCCCCC",
        content: $(".place_card_front"),
        onEnd: function() {
		frontcard();
	}
      })
      return false;
    });
  };

  $(function() {
	$(".place_card_frame").html($(".place_card_front").html());
	frontcard();
	backcard();
  });
<% end %>

<div class="place_card">
  <div class="place_card_frame">
  </div>
</div>

<div class="place_card_front">
  <%= image_tag("place.png", :alt=> "Place", :class => "place_icon") %>
  <div class="place_name"><%= @place.title %></div>
  <div class="place_description">
    in <%= @place.address.locality %>, <%= @place.address.country %>
  </div>
  <div class="more_info"><%= link_to "More info", "#" %></div>
</div>

<div class="place_card_back">
  <div class="place_card_addresstag"><b><%= simple_format("Address: ") %></b></div>
  <div class="place_card_address place_card_info"><%= simple_format(@place.address.formatted) %></div>
  <div class="place_card_info"><b>Latitude: </b><%= @place.latitude %></div>
  <div class="place_card_info"><b>Longitude: </b><%= @place.longitude %></div>
  <div class="place_card_info"><b>URL: </b><%= link_to @place.url, "http://" + @place.url, :target => "_blank" %></div>
  <div class="revert_info"><%= link_to "Revert", "#" %></div>
</div>