<% @place.build_address %>
<%= form_for @place, :html => {:onkeypress => "return event.keyCode!=13"} do |f| %>
  <%# @place.owner_id = current_subject.try(:actor_id) %>
  <%# @place.relation_ids = Relation::Public.instance.id %>
  <% @place.latitude = 0 %>
  <% @place.longitude = 0 %>

  <% if f.object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(f.object.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% f.object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="place_show_form">
    <div class="place_show_info">
      <div class="place_padding"><%= f.text_field :title, :size => 46, :class => "place_name", :oninput =>"keyUpEvent();" %></div>
      <div class="place_padding">
        <%= render :partial => 'shared/address_form', :locals => {:form => f} %>
      </div>
      <div class="place_padding">
        <%= f.text_field :phone_number, :size => 21, :class => "place_phone_number" %>
        <%= f.text_field :url, :size => 27, :class => "place_url" %>
      </div>
    </div>
  </div>


  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>

  <div class="place_create">
    <div class="actions">
      <%= f.submit "I like this place" %>
    </div>
  </div>

<% end %>

<%= gmaps(:map_options => { :libraries => ["places"], :container_class => "map_container", :id => "map", :class => "gmaps4rails_show", :zoom => 1, :center_latitude => 20, :center_longitude => 0 })%>

<%= yield :scripts %>

<%= javascript_tag do %>
  $(".place_name").watermark('<%= escape_javascript(I18n.t('place.name_title')) %>', {useNative: false, className: 'watermark'});
  $(".place_phone_number").watermark('<%= escape_javascript(I18n.t('place.phone_title')) %>', {useNative: false, className: 'watermark'});
  $(".place_url").watermark('<%= escape_javascript(I18n.t('place.url_title')) %>', {useNative: false, className: 'watermark'});

  google.maps.event.addDomListener(window, 'load', initialize);
<% end %>




