<%= div_for place do %>
  <div class="place_list_item">
    <%= image_tag("place.png", :alt=> "Place", :class => "place_list_icon") %>
    <div class="place_list_star" id="like_<%= dom_id(place.post_activity) %>">
      <%= place_star(place.post_activity) %>
    </div>
    <div class="place_list_content">
      <div class="place_list_name"><%= link_to place.title, place %></div>
      <div class="place_list_city"><%= place.address.locality %>, <%=place.address.country%></div>
      <div class="place_list_options">
        <%= render :partial => 'places/place_like_sentence', :locals => { :place => place } %>
      </div>
    </div>
  </div>
<% end %>