<%= javascript_tag do %>
  $(function() {
    SocialStream.Objects.init();
  });
<% end %>

<% content_for :title do %>
<%= profile_subject.name + ": " + t('place.title') %>
<% end %>

<% sidebar %>

<% toolbar :profile, :subject => profile_subject %>

<%if profile_subject_is_current?%>
<%= location(
  link_to(t('place.title') + ' ' + t('place.like.me'), polymorphic_path(controller.controller_name),:remote => true)
  ) %>
<%else%>
<%= location(
  link_to(profile_subject.name, polymorphic_path(profile_subject),:remote => true),
  link_to(t('place.title') + ' ' + t('place.like.other', :contact => profile_subject.name), polymorphic_path([profile_subject, controller.controller_name]),:remote => true)
  ) %>
<%end%>

<br class="clearfloat" />
<div class="space_center"></div>

<% if profile_subject_is_current? %>
  <div class ="place_list_add"><%= render :partial => 'places/search' %></div>
<% end %>

<% unless @activities.empty? %>
  <% @activities.each do |a| %>
    <% place = a.activity_objects.first.place %>
    
    <%= div_for place do %>
      <div class="activity_content">
        <div class="place_list_item">
          <%= image_tag("place.png", :alt=> "Place", :class => "place_list_icon") %>
          <div class="place_list_content">
            <div class="place_list_name"><%= link_to place.title, place %></div>
            <div class="place_list_options">
              <div class="verb_comment"><%= link_to t('activity.to_comment'), "#", :class => "to_comment" %> </div>
              <div class="verb_like" id="like_<%= dom_id(place.post_activity) %>"> · <%= link_like(place.post_activity)%></div>
            </div>
          </div>
        </div>
        <div class="place_list_comments">
          <%= render :partial => 'activities/comments',
                     :locals => { :activity => a } %>
          <%= render :partial => 'comments/new',
                     :locals => { :activity => a } %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
