<%= javascript_tag do %>
  $(function() {
    SocialStream.Objects.init();
  });
<% end %>

<%= javascript_tag do %>
  $(document).ready(function(){
    $('a#button_list').click(function(){
      if ($(this).hasClass('on')) {
        $(this).toggleClass("on off");
        $('a#button_map').toggleClass("on off");
        
        var $marginLefty = $('#places');
        $marginLefty.animate({
          marginLeft: parseInt($marginLefty.css('marginLeft'),10) == 0 ?
            -$marginLefty.outerWidth()/2 :
            0
        });


      }
    });
    $('a#button_map').click(function(){
      if ($(this).hasClass('on')) {
        $(this).toggleClass("on off");
        $('a#button_list').toggleClass("on off");
        //$('.place_map').toggle();

        var $marginLefty = $('#places');
        $marginLefty.animate({
          marginLeft: parseInt($marginLefty.css('marginLeft'),10) == 0 ?
            -$marginLefty.outerWidth()/2 :
            0
        });
      }
    });
  });
<% end %>

<% content_for :title do %>
<%= profile_subject.name + ": " + t('place.title') %>
<% end %>

<% sidebar %>

<% toolbar :profile, :subject => profile_subject %>

<%if profile_subject_is_current?%>
<%= location(
  link_to(t('place.title') + ' ' + t('place.like.me'), polymorphic_path(controller.controller_name),:remote => true)
  ) %>
<%else%>
<%= location(
  link_to(profile_subject.name, polymorphic_path(profile_subject),:remote => true),
  link_to(t('place.title') + ' ' + t('place.like.other', :contact => profile_subject.name), polymorphic_path([profile_subject, controller.controller_name]),:remote => true)
  ) %>
<%end%>

<br class="clearfloat" />
<div class="space_center"></div>

<div class="place_list_more">
  <div class="place_list_map">
    <a id="button_list" class="off" title="button"><%= image_tag("list_icon.png", :class => "place_list_selector") %></a>
    <a id="button_map" class="on" title="button"><%= image_tag("map_icon.png", :class => "place_list_selector") %></a>
  </div>
  <div class ="place_list_actions">
    <form action="<%=user_places_map_path%>" method="get" id="place_discover" class="place_list_discover">
      <button type="submit">Discover</button>
    </form>
    <div class ="place_list_add">
      <%= render :partial => 'places/search' %>
    </div>
  </div>
</div>

<div id="places_container">
  <div id="places">
    <div id="place_list">
      <% unless @activities.empty? %>
        <% @activities.each do |a| %>
          <% place = a.activity_objects.first.place %>
          
          <%= div_for place do %>
              <div class="place_list_item">
                <%= image_tag("place.png", :alt=> "Place", :class => "place_list_icon") %>
                <div class="place_list_star" id="like_<%= dom_id(place.post_activity) %>">
                  <%= place_star(place.post_activity) %>
                </div>
                <div class="place_list_content">
                  <div class="place_list_name"><%= link_to place.title, place %></div>
                  <div class="place_list_city"><%= place.address.locality %>, <%=place.address.country%></div>
                  <div class="place_list_options">
                    <%= like_place_sentence(place) %>
                  </div>
                </div>
              </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div id="place_map">
      <%= gmaps4rails(@json) %>
    </div>
  </div>
</div>

<br class="clearfloat" />
<div class="space_center"></div>
<%= yield :scripts %>
