<%= javascript_tag do %>
  $(function() {
    SocialStream.Objects.init();
  });
<% end %>

<%= javascript_tag do %>
  $(document).ready(function(){
    $('a#my_button').click(function(){
      if ($(this).hasClass('on')) {
        $(this).toggleClass("on off");
        $('a#friends_button').attr('class', 'on');
        $('a#recommended_button').attr('class', 'on');

        $('#places').toggleClass("hidden", false);
        $('#friends').toggleClass("hidden", true);
        $('#recommended').toggleClass("hidden", true);
      }
      return false;
    });
    $('a#friends_button').click(function(){
      if ($(this).hasClass('on')) {
        $(this).toggleClass("on off");
        $('a#my_button').attr('class', 'on');
        $('a#recommended_button').attr('class', 'on');

        $('#places').toggleClass("hidden", true);
        $('#friends').toggleClass("hidden", false);
        $('#recommended').toggleClass("hidden", true);
      }
      return false;
    });
    $('a#recommended_button').click(function(){
      if ($(this).hasClass('on')) {
        $(this).toggleClass("on off");
        $('a#my_button').attr('class', 'on');
        $('a#friends_button').attr('class', 'on');

        $('#places').toggleClass("hidden", true);
        $('#friends').toggleClass("hidden", true);
        $('#recommended').toggleClass("hidden", false);
      }
      return false;
    });
  });
<% end %>

<%= javascript_tag do %>
  $(document).ready(function(){
    $('a#list_view').click(function(){
      if ($(this).hasClass('view_unselected')) {
        $(this).toggleClass("view_unselected view_selected");
        $('a#map_view').toggleClass("view_unselected view_selected");
        
        var $marginLefty = $('.roll');
        $marginLefty.animate({
          marginLeft: parseInt($marginLefty.css('marginLeft'),10) == 0 ?
            -$marginLefty.outerWidth()/2 :
            0
        });
      }
      return false;
    });
    $('a#map_view').click(function(){
      if ($(this).hasClass('view_unselected')) {
        $(this).toggleClass("view_unselected view_selected");
        $('a#list_view').toggleClass("view_unselected view_selected");

        var $marginLefty = $('.roll');
        $marginLefty.animate({
          marginLeft: parseInt($marginLefty.css('marginLeft'),10) == 0 ?
            -$marginLefty.outerWidth()/2 :
            0
        });
      }
      return false;
    });
  });
<% end %>

<% content_for :title do %>
  <%= profile_subject.name + ": " + t('place.title') %>
<% end %>

<% sidebar %>

<% toolbar :profile, :subject => profile_subject %>

<%if profile_subject_is_current?%>
<%= location(
  link_to(t('place.title') + ' ' + t('place.like.me'), polymorphic_path(controller.controller_name),:remote => true)
  ) %>
<%else%>
<%= location(
  link_to(profile_subject.name, polymorphic_path(profile_subject),:remote => true),
  link_to(t('place.title') + ' ' + t('place.like.other', :contact => profile_subject.name), polymorphic_path([profile_subject, controller.controller_name]),:remote => true)
  ) %>
<%end%>

<br class="clearfloat" />
<div class="space_center"></div>

<%if profile_subject_is_current?%>
  <div class="place_list_more">
    <div class="place_list_map">
      <a id="my_button" class="off" title="My Places">My places</a>
      <a id="friends_button" class="on" title="Friends Places">Friends places</a>
      <a id="recommended_button" class="on" title="Recommended">Recommended</a>
    </div>
    <div class ="place_list_add">
        <%= render :partial => 'places/search' %>
    </div>
  </div>
<%end%>

<br class="clearfloat" />
<div class="space_center"></div>

<div class="place_card_see">
  <div class="place_card_see_text">
    <%= link_to t("place.view.list"), "#", :id => "list_view", :class => "view_selected" %>
     | 
    <%= link_to t("place.view.map"), "#", :id => "map_view", :class => "view_unselected" %>
  </div>
</div>

<div id="places_container">
  <div id="places" class="roll">
    <div id="place_list">
      <% unless @places_pag.empty? %>
        <% @places_pag.each do |place| %>
          <%= render :partial => 'places/place_list', :locals => { :place => place } %>
        <% end %>
      <% end %>
      <div class="paginator"><%= paginate @places_pag %></div>
    </div>

    <%if !profile_subject_is_current?%>
    <div id="place_map">
      <%= gmaps(:markers     => { :data => @places_json },
          :map_options => { :auto_adjust => true }) %>
    </div>
  </div>
  <% else %>
    <div id="place_map">
        <%= gmaps(:markers     => { :data => @places_json },
            :map_options => { :auto_adjust => true },
            :last_map    => false) %>
      </div>
    </div>

    <div id="friends" class="roll offscreen">
      <div id="friends_list">
        <% unless @friends.empty? %>
          <% @friends.each do |place| %>          
            <%= render :partial => 'places/place_list', :locals => { :place => place } %>
          <% end %>
        <% end %>
      </div>

      <div id="friend_map">
        <%= gmaps(:markers     => { :data => @friends_json },
            :map_options => { :id => "second_map", :auto_adjust => true },
            :scripts     => :none, :last_map => false ) %>
      </div>
    </div>

    <div id="recommended" class="roll offscreen">
      <div id="recommended_list">
        <% unless @recommended.empty? %>
          <% @recommended.each do |place| %>          
            <%= render :partial => 'places/place_list', :locals => { :place => place } %>
          <% end %>
        <% end %>
      </div>

      <div id="recommended_map">
        <%= gmaps(:markers     => { :data => @recommended_json },
            :map_options => { :id => "third_map", :auto_adjust => true },
            :scripts     => :none ) %>
      </div>
    </div>
  <% end %>

</div>

<br class="clearfloat" />
<div class="space_center"></div>



<% content_for :scripts do %>

  <script type="text/javascript" charset="utf-8">
    Gmaps.map.callback = function() {
      for (var i = 0; i <  this.markers.length; ++i) {
        google.maps.event.addListener(Gmaps.map.markers[i].infowindow, 'domready', function() {
          $(".place_contacts").hide();
          $('.place_contacts_summary').tipsy({
            html: true,
            hoverable: true,
            opacity: 0.95,
            title: function(){
              return $(this).siblings('.place_contacts').html();
            }
          });
        });
      }
    };
  </script> 

  <% if profile_subject_is_current? %>
  <script type="text/javascript" charset="utf-8">
      Gmaps.second_map.callback = function() {
        google.maps.event.addListenerOnce(Gmaps.second_map.serviceObject, 'idle', function() {
          $('#friends').toggleClass("hidden offscreen");
        });

        for (var i = 0; i <  this.markers.length; ++i) {
          google.maps.event.addListener(Gmaps.second_map.markers[i].infowindow, 'domready', function() {
            $(".place_contacts").hide();
            $('.place_contacts_summary').tipsy({
              html: true,
              hoverable: true,
              opacity: 0.95,
              title: function(){
                return $(this).siblings('.place_contacts').html();
              }
            });
          });
        }
      };

      Gmaps.third_map.callback = function() {
        google.maps.event.addListenerOnce(Gmaps.third_map.serviceObject, 'idle', function() {
          $('#recommended').toggleClass("hidden offscreen");
        });

        for (var i = 0; i <  this.markers.length; ++i) {
          google.maps.event.addListener(Gmaps.third_map.markers[i].infowindow, 'domready', function() {
            $(".place_contacts").hide();
            $('.place_contacts_summary').tipsy({
              html: true,
              hoverable: true,
              opacity: 0.95,
              title: function(){
                return $(this).siblings('.place_contacts').html();
              }
            });
          });
        }
      };
  </script>  
<% end %>
<% end %>

<%= yield :scripts %>