<% toolbar :profile, :subject => profile_subject %>

<%= javascript_tag do %>
  $(function() {
    SocialStream.Objects.init();
  });
<% end %>

<% content_for :title do %>
  <%= t('site.name')  + ": " + t('place.title') %>
<% end %>

<% sidebar %>

<%= render :partial => 'card' %>

<div class="place_options">
  <div class="place_list_options"><%= like_place_sentence(@place) %></div>
  <div class="verb_like" id="like_<%= dom_id(@place.post_activity) %>"><%= link_like(@place.post_activity)%></div>
</div>

<div id="place_comments">
  <%= render :partial => 'activities/place_comments', :locals => { :activity => @place.post_activity } %>
  <%= render :partial => 'comments/new', :locals => { :activity => @place.post_activity } %>
</div>



