<% toolbar :profile, :subject => profile_subject %>

<%= javascript_tag do %>
  $(function() {
    SocialStream.Objects.init();
  });
<% end %>

<% content_for :title do %>
  <%= t('site.name')  + ": " + t('place.title') %>
<% end %>

<% sidebar %>

<div class="place_show">
	<%= render :partial => 'place_info' %>
	<div class="place_options">
  	<div class="verb_like place_like_margin" id="like_<%= dom_id(@place.post_activity) %>"><%= link_like(@place.post_activity)%></div>
    <div class="place_list_options">
      <%= render :partial => 'places/place_like_sentence', :locals => { :place => @place } %>
    </div>
	</div>
</div>


<%= gmaps(:map_options => { :container_class => "map_container", :id => "map", :class => "gmaps4rails_show", :auto_zoom => false, :zoom => 16 }, 
					:markers => {:data => @json} )%>
					
<%= yield :scripts %>


<div id="place_comments">
  <%= render :partial => 'activities/place_comments', :locals => { :activity => @place.post_activity } %>
  <%= render :partial => 'comments/new', :locals => { :activity => @place.post_activity } %>
</div>



